<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CONN_STR_ATOLL" value="YOUR CONNECTION STRING Atoll db!"/>
    <add key="CONN_STR_SHIVAL" value="YOUR CONNECTION STRING Shiva db!"/>
    <add key="WORKING_DIRECTORY" value="path to WORKING_DIRECTORY"/>
  </appSettings>
</configuration>